.access-card {
  --input-focus: #8543d1;
  --font-color: #fefefe;
  --font-color-sub: #7e7e7e;
  --bg-color: #111;
  --bg-color-alt: #7e7e7e;
  --main-color: #fefefe;
  transform: scale(0.9); /* Riduce la dimensione del contenuto all'80% */
  transform-origin: center;
}

.switch {
  transform: translateY(-200px);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 50px;
  height: 20px;
}

.card-side::before {
  content: "Log In";
  width: 100px;
  position: absolute;
  top: 0;
  right: 50px;
  color: var(--font-color);
  font-weight: 600;
  text-decoration: underline;
}

.card-side::after {
  content: "Sign Up";
  width: 100px;
  position: absolute;
  top: 0;
  left: 60px;
  color: var(--font-color);
  font-weight: 600;
  text-decoration: none;
}

.toggle {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  box-sizing: border-box;
  box-shadow: 4px 4px var(--main-color);
  position: absolute;
  border: 2px solid var(--main-color);
  border-radius: 5px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--bg-color);
  cursor: pointer;
  transition: 0.3s;
}

.slider:before {
  content: "";
  box-sizing: border-box;
  box-shadow: 0 3px 0 var(--main-color);
  height: 20px;
  width: 20px;
  position: absolute;
  border: 2px solid var(--main-color);
  border-radius: 5px;
  bottom: 2px;
  left: -2px;
  background-color: var(--bg-color);
  transition: 0.3s;
}

.toggle:checked + .slider {
  /* could change this to #73FBD3 (accent color) as well */
  background-color: var(--input-focus);
}

.toggle:checked + .slider:before {
  transform: translateX(30px);
}

.toggle:checked ~ .card-side:before {
  text-decoration: none;
}

.toggle:checked ~ .card-side:after {
  text-decoration: underline;
}

/*** card ***/
.card-inner {
  position: relative;
  width: 300px;
  height: 350px;
  background-color: transparent;
  text-align: center;
  perspective: 1000px;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.toggle:checked ~ .card-inner {
  transform: rotateY(180deg);
}

.toggle:checked ~ .card-front {
  box-shadow: none;
}

.card-front,
.card-back {
  padding: 20px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background: var(--bg-color);
  gap: 20px;
  border-radius: 2px;
  border: 2px solid var(--main-color);
  box-shadow: 3px 3px var(--main-color);
}

.card-back {
  width: 100%;
  transform: rotateY(180deg);
}

.card-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.option {
  margin: 20px 0 20px 0;
  font-size: 25px;
  font-weight: 900;
  text-align: center;
  color: var(--main-color);
}

.card-input {
  width: 250px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 15px;
  font-weight: 600;
  color: var(--font-color);
  padding: 5px 10px;
  outline: none;
}

.card-input::placeholder {
  color: var(--font-color-sub);
  opacity: 0.8;
}

.card-input:focus {
  border: 2px solid var(--input-focus);
}

.card-btn:active,
.signup-btn:active {
  box-shadow: 0px 0px var(--main-color);
  transform: translate(3px, 3px);
}

.card-btn {
  margin: 20px 0 20px 0;
  width: 120px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 17px;
  font-weight: 600;
  color: var(--font-color);
  cursor: pointer;
}

#signup-btn {
  margin-top: 40px;
}
