@import url("cephalon.css");
@import url("chakra-petch.css");
@import url("gigasper.css");
@import url("mikratos.css");

* {
  font-family: "Chakra Petch Medium";
  font-weight: 200;
  font-size: 15px;
  color: #fff;
  user-select: none; /* no text selection */
  -webkit-user-select: none; /* for Chrome and Safari */
  -moz-user-select: none; /* for Firefox */
  -ms-user-select: none; /* for Internet Explorer */
}

body {
  background-color: #000; /* black background for the whole body */
  margin: 0;
  height: 100vh;
  overflow: hidden; /* avoids scrollbar during animation */
}

.background-video {
  background-size: auto;
  position: fixed;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  z-index: -7;
}

.whole-page {
  display: grid;
  align-content: center; /* vertical */
  justify-content: center; /* horizontal */
  align-items: center;
  justify-items: center;
  text-align: center;
  height: 100%;
  width: 100%;
}

.content-container,
#dynamic-content {
  display: grid;
  align-content: space-evenly;
  justify-content: space-evenly;
  align-items: center;
  justify-items: center;
  text-align: center;
  height: 96vh; /* 96% of the viewport height */
  width: 97vw; /* 97% of the viewport width */
  border: 2px solid #fff;
  box-sizing: border-box; /* include padding and border in total width and height */
}

.fade-effect {
  transition: opacity 1s ease-in-out;
}

/* --- Footer --- */
footer {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  margin-bottom: 50px;
}

footer p {
  font-family: "Chakra Petch Medium";
}
/* ------- */
