@font-face {
    font-family: 'Cephalon Regular';
    src: url('../fonts/cephalon/cephalon-regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cephalon Outline';
    src: url('../fonts/cephalon/cephalon-outline.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
