.mini-game {
  position: relative;
  height: 60px; /* Shortened the height */
  width: 7px;
  color: #fff;
  animation: paddles 0.75s ease-out infinite;
  cursor: pointer;
}

.mini-game:before {
  content: "";
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 24px; /* Adjusted to hit the center of the shorter paddles */
  width: 12px;
  height: 12px;
  background-color: #78ffd6;
  border-radius: 50%;
  animation: ball-bounce 0.75s ease-out infinite;
}

/*** keyframes ***/
@keyframes paddles {
  0%,
  100% {
    box-shadow: -25px -15px, 25px 15px; /* Adjusted to match the shorter paddles */
  }
  50% {
    box-shadow: -25px 3px, 25px -3px;
  }
}

@keyframes ball-bounce {
  0% {
    transform: translate(-20px, 0) scale(1, 1.2); /* Horizontal movement */
  }
  25%,
  75% {
    transform: scale(1.2, 1);
  }
  50% {
    transform: translate(20px, 0) scale(1, 1.2); /* Horizontal movement */
  }
  100% {
    transform: translate(-20px, 0); /* Horizontal movement */
  }
}
