/* .main-breadcrumb {
  color: #fff;
  background-color: none;
  border-radius: 5px;
  height: 70%;
} */

/* .breadcrumb-item::before {
  color: rgba(255, 255, 255, 0.5) !important;
} */

/* unvisited link */
/* .breadcrumb-item.link {
  color: rgba(255, 255, 255, 0.5);
} */

/* visited link */
/* .breadcrumb-item.visited {
  color: rgba(255, 255, 255, 0.5);
} */

/* mouse over link */
/* .breadcrumb-item.hover {
  color: rgba(255, 255, 255, 0.5);
} */

/* selected link */
/* .breadcrumb-item.active {
  color: rgb(255, 255, 255);
  text-decoration: underline;
} */

.custom-content-container {
  display: inherit;
  align-content: center;
}

.transparent-card {
  background-color: transparent;
  border: none;
  box-shadow: 0 0 5px rgba(253, 251, 251, 0.905);
}

.transparent-card .breadcrumb-item a {
  color: #fff;
  background-color: transparent;
}

.transparent-card .breadcrumb, 
.transparent-card .breadcrumb-item a {
  background-color: transparent;
}

.card-header-bg {
  border: none;
  box-shadow: 0 0 5px rgba(253, 251, 251, 0.905);
  inset: 0;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background: linear-gradient(
	43deg,
	rgb(50, 3, 88) 0%,
	rgb(111, 88, 159) 46%,
	rgb(165, 178, 242) 100%
  );
}

.btn-edit {
  color: #fff;
  background-color: #6F589F;
  border: none;
  transition: 300ms;
}

.btn-edit:hover {
  color: #fff;
  background-color: #6F589F;
  border: none;
  transition: 300ms;
  filter: brightness(1.3);
}

.btn-edit:active {
  color: #fff !important;
  background-color: #6F589F !important;
  border: none;
  transition: 100ms;
  filter: brightness(1.3);
  transform: scale(0.95);
}

.btn-logout:active {
  color: #fff !important;
  transition: 100ms;
  transform: scale(0.95);
}

.form-custom {
  color: #fff;
  background-color: rgba(111, 88, 159, 0.3);
  border: none;
}

.form-custom:focus {
  color: #fff;
  background-color: rgba(111, 88, 159, 0.3);
  border: none;
  box-shadow: 0 0 5px rgba(253, 251, 251, 0.905);
}

.form-control::placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-size: 15px;
}

#help-form {
  color: rgba(255, 255, 255, 0.5);
}

.friend-user {
  background-color: transparent !important;
  color: #fff;
  cursor: pointer;
}
