{% load i18n %}
{% load static %}

<!-- <body> -->
{% if only_content %}
	{% block content %}
		<div class="mini-game">
			<div class="clickable"></div>
			<div class="visual"></div>
		</div>

		<div class="access-card">
			<div class="card-switch">
				<label class="switch">
					<input class="toggle" type="checkbox">
					<span class="slider"></span>
					<span class="card-side"></span> <!-- Log In/Sign Up text next to the slider -->
					<div class="card-inner">
						<div class="card-front">
							<!-- Login form -->
							<div class="option" id="login" data-translate-key="login">Log in</div>
							<form class="card-form" id="loginForm">
								{% csrf_token %}
								<input
									type="username"
									placeholder="Username"
									name="username"
									class="card-input">
								<input
									type="password"
									placeholder="Password"
									name="password"
									class="card-input">
								<button class="card-btn access-btn" id="login-btn" data-route="/game_menu/" data-translate-key="login-btn">Let's play!</button>
							</form>
						</div>
						<div class="card-back">
							<!-- Signup form -->
							<div class="option" id="signup" data-translate-key="signup">Sign up</div>
							<form actionclass="card-form" id="registerForm">
								{% csrf_token %}
								<input
									type="email"
									placeholder="Email"
									name="email"
									class="card-input"
									style="margin-bottom: 1.3em">
								<input
									type="username"
									placeholder="Username"
									name="username"
									class="card-input"
									style="margin-bottom: 1.3em">
								<input
									type="password"
									placeholder="Password"
									name="password"
									class="card-input">
								<button class="card-btn access-btn" id="signup-btn" data-route="/game_menu/" data-translate-key="signup-btn">Confirm!</button>
							</form>
						</div>
					</div>
				</label>
			</div>
		</div>
	{% endblock %}
{% endif %}

{% if only_footer %}
	{% block footer-text %}
		<p data-translate-key="footer-access">Almost there</p>
	{% endblock %}
{% endif %}
<!-- </body> -->
