{% load i18n %}
{% load static %}

{% if only_content %}
  {% block content %}
    <div class="mini-game">
      <div class="clickable"></div>
      <div class="visual"></div>
    </div>

    <button id="btn-profile" class="btn-message" data-route="/user_profile/">
      <div class="content-avatar">
        <div class="user-status"></div>
        <div class="avatar-img">
          <img src="{% static 'assets/user-64.png' %}" width="24" height="24" alt="user" style="object-fit: cover; width: 100%; height: 100%;">
        </div>
      </div>
      <div class="profile-options">
        <div class="username" id="modusername" style="text-overflow: ellipsis;">View/Edit</div>
        <div class="label-message" id="ME">username</div> <!-- {{user.username }}-->
        <div class="user-id" id="modemail"></div>
      </div>
    </button>

    <div class="game-modes">
      <div class="game-container noselect" id="game-multiplayer">
        <div class="game-canvas">
          <div class="game-tracker tr-1"></div>
          <div class="game-tracker tr-2"></div>
          <div class="game-tracker tr-3"></div>
          <div class="game-tracker tr-4"></div>
          <div class="game-tracker tr-5"></div>
          <div class="game-tracker tr-6"></div>
          <div class="game-tracker tr-7"></div>
          <div class="game-tracker tr-8"></div>
          <div class="game-tracker tr-9"></div>
          <div class="game-tracker tr-10"></div>
          <div class="game-tracker tr-11"></div>
          <div class="game-tracker tr-12"></div>
          <div class="game-tracker tr-13"></div>
          <div class="game-tracker tr-14"></div>
          <div class="game-tracker tr-15"></div>
          <div class="game-tracker tr-16"></div>
          <div class="game-tracker tr-17"></div>
          <div class="game-tracker tr-18"></div>
          <div class="game-tracker tr-19"></div>
          <div class="game-tracker tr-20"></div>
          <div class="game-tracker tr-21"></div>
          <div class="game-tracker tr-22"></div>
          <div class="game-tracker tr-23"></div>
          <div class="game-tracker tr-24"></div>
          <div class="game-tracker tr-25"></div>
          <div id="game-card">
            <p id="game-title" data-translate-key="multiplayer-mode">-><br/>MULTIPLAYER<br/><-</p>
            <div class="game-info text-center" id="multiplayer-info" data-translate-key="multiplayer-info">
              Host/Join<br/>a game,<br/>with a friend
            </div>
          </div>
        </div>
      </div>

      <div class="game-container noselect" id="game-tournament">
        <div class="game-canvas">
          <div class="game-tracker tr-1"></div>
          <div class="game-tracker tr-2"></div>
          <div class="game-tracker tr-3"></div>
          <div class="game-tracker tr-4"></div>
          <div class="game-tracker tr-5"></div>
          <div class="game-tracker tr-6"></div>
          <div class="game-tracker tr-7"></div>
          <div class="game-tracker tr-8"></div>
          <div class="game-tracker tr-9"></div>
          <div class="game-tracker tr-10"></div>
          <div class="game-tracker tr-11"></div>
          <div class="game-tracker tr-12"></div>
          <div class="game-tracker tr-13"></div>
          <div class="game-tracker tr-14"></div>
          <div class="game-tracker tr-15"></div>
          <div class="game-tracker tr-16"></div>
          <div class="game-tracker tr-17"></div>
          <div class="game-tracker tr-18"></div>
          <div class="game-tracker tr-19"></div>
          <div class="game-tracker tr-20"></div>
          <div class="game-tracker tr-21"></div>
          <div class="game-tracker tr-22"></div>
          <div class="game-tracker tr-23"></div>
          <div class="game-tracker tr-24"></div>
          <div class="game-tracker tr-25"></div>
          <div id="game-card">
            <p id="game-title" class="prompt2" data-translate-key="tournament-mode">TOURNAMENT<br/>@-</p>
            <div class="game-info text-center" id="tournament-info" data-translate-key="tournament-info">
              Play with<br/>friends,<br/>anywhere
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endblock %}
{% endif %}

{% if only_footer %}
  {% block footer-text %}
    <p data-translate-key="footer-menu">Select a game mode to start playing</p>
  {% endblock %}
{% endif %}
