#full-page {
  height: 100vh;
  width: 100vw;
  
  background: url(../media/noise.png) repeat, url(../media/bg.jpg) no-repeat top fixed;
  background-size: auto, cover;
  color: #000;
  font-family: "Noto Sans", sans-serif;
  line-height: 1.5;

  z-index: -7;
}

#content-container {
  width: 100vw;
  height: 100vh;
  padding: 0px;
  margin: 0px;
}

#dynamic-content {
  height: 924px;
  width: 100vw;
  position: relative;
}

#time-display {
  width: fit-content;
  height: fit-content;
  margin: 0px;
  font-size: 20px;
  margin-bottom: 15px;
  margin-left: 68px;
  color: rgb(255,255,255);
}

#date-display {
  width: fit-content;
  height: fit-content;
  font-size: 20px;
  margin-left: 1089px;
  margin-bottom: 15px;
  color: rgb(255,255,255);
}

#top-banner {
  height: 78px;
  width: inherit;
  font-family: NDS12;
  background: url("../../static/media/top-banner-sky.png");
  position: sticky;
}

#lang-btn-en {
  height: 52px;
  width: 52px;
  background: url("../../static/media/en-unselected.png") center;
  padding: 0px;
  border-radius: 0px;
  margin-left: 0px;
}

#lang-btn-it {
  height: 52px;
  width: 52px;
  background: url("../../static/media/it-unselected.png") center;
  padding: 0px;
  border-radius: 0px;
  margin-left: 45px;
}

#lang-btn-kr {
  width: 52px;
  height: 52px;
  background: url("../../static/media/kr-unselected.png") center;
  padding: 0px;
  border-radius: 0px;
  margin-left: 43px;
  margin-right: 0px;
}

#lang-btns {
  margin-left: 49px;
  margin-bottom: 9px;
}

#lang-btn-en:hover {
  background: url("../../static/media/en-selected.png");
  background-position: center;
}

#lang-btn-it:hover {
  background: url("../../static/media/it-selected.png");
  background-position: center;
}

#lang-btn-kr:hover {
  background: url("../../static/media/kr-selected.png");
  background-position: center;
}

#bottom-banner {
  height: 78px;
  width: 100vw;
  background: url("../../static/media/bottom-banner-sky.png");
  position: sticky;
}

#login-btn {
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  border-radius: 7px;
  margin-right: 20px;
  width: 605px;
  height: 85px;
  background-image: url("../../static/media/login-before.png");
  background-position: center;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  margin-top: 0px;
}

#login-btn:hover {
  background-image: url("../../static/media/login-after.png");
  cursor: pointer;
  background-position: center;
}

#signup-btn {
  padding-bottom: 0px;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  border-radius: 7px;
  background-image: url("../../static/media/signup-before.png");
  background-position: center;
  width: 605px;
  height: 85px;
}

#signup-btn:hover {
  background-image: url("../../static/media/signup-after.png");
  background-position: center;
  cursor: pointer;
}

img {
  margin-bottom: 20px;
}
