/* login and signup buttons */
#login-btn,
#signup-btn {
	display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: linear-gradient(120deg, #c32606 30%, #f3a81c 80%, #fdf8a3);
    color: #fff;
    font-family: Quantico, sans-serif;
    transition: box-shadow .3s, transform .3s;
}

/* language button */
#lang-btn {
	min-width: min(5.2083333333vw, 100px);
	height: min(3.125vw, 60px);
	padding: 0 0 0 min(1.875vw, 36px);
	background-position: min(.5208333333vw, 10px);
	background-size: min(1.6145833333vw, 31px);
	font-size: min(1.25vw, 24px);
}

#lang-btn:hover {
	background:url(../media/icon_global.png) no-repeat min(.5208333333vw,10px) #000;
	background-size: min(1.6145833333vw,31px);
	color: #fff
}
