#prompt-play {
  font-size: 50px;
  font-family: "Versa Versa";
  text-align: center;
  z-index: 1;
}

#btn-oauth {
  margin-right: 30px;
  width: 300px;
  height: 69px;
  font-size: 20px;
  font-family: "Versa Versa";
  box-shadow: 3px 4px rgb(0, 0, 0);
  transition: box-shadow 0.3s, transform 0.3s;
  background: linear-gradient(120deg, #c32606 30%, #f3a81c 80%, #fdf8a3 100%);
  border: none;
  border-radius: 4px;
}

#btn-signup {
  border-radius: 4px;
  font-size: 20px;
  width: 300px;
  height: 69px;
  font-family: "Versa Versa";
  box-shadow: 3px 4px rgb(0, 0, 0);
  background: linear-gradient(120deg, #c32606 30%, #f3a81c 80%, #fdf8a3 100%);
  transition: box-shadow 0.3s, transform 0.3s;
  border: none;
  border-radius: 4px;
}

#icon-controller-sx,
#icon-ping-pong,
#icon-controller-dx {
  font-size: 16px;
  width: 30px;
  height: 30px;
  margin-right: 7px;
}

/* Media Queries per dispositivi con schermi più piccoli */
@media (max-width: 1024px) {
  #prompt-play {
    font-size: 40px; /* Riduci la dimensione del testo per tablet */
  }

  #btn-oauth,
  #btn-signup {
    width: 250px;
    height: 60px;
    font-size: 18px;
  }

  #icon-controller-sx,
  #icon-ping-pong,
  #icon-controller-dx {
    width: 25px;
    height: 25px;
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  #prompt-play {
    font-size: 35px; /* Riduci ulteriormente il testo per dispositivi mobili */
  }

  #btn-oauth,
  #btn-signup {
    width: 220px;
    height: 50px;
    font-size: 16px;
  }

  #icon-controller-sx,
  #icon-ping-pong,
  #icon-controller-dx {
    width: 20px;
    height: 20px;
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  #prompt-play {
    font-size: 30px; /* Ancora più piccolo su schermi molto piccoli */
  }

  #btn-oauth,
  #btn-signup {
    width: 200px;
    height: 45px;
    font-size: 14px;
  }

  #icon-controller-sx,
  #icon-ping-pong,
  #icon-controller-dx {
    width: 18px;
    height: 18px;
    font-size: 10px;
  }
}
