html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.offcanvas-start {
  top: 70px !important; /* Distanza dalla navbar */
  height: calc(100vh - 70px); /* Riempi lo schermo sotto la navbar */
}

.offcanvas-end {
  top: 70px !important; /* Distanza dalla navbar */
  height: calc(100vh - 70px); /* Riempi lo schermo sotto la navbar */
}

.offcanvas-backdrop {
  z-index: 1040 !important; /* Lo sfondo scuro */
}

.main-container {
  height: 100%;
}

#game-container {
  background-color: transparent;
  height: 100%;
}

#startGame {
  margin-right: 30px;
  width: 220px;
  height: 60px;
  font-size: 20px;
  font-family: "Versa Versa";
  /* box-shadow: 3px 4px rgb(0, 0, 0); */
  transition: box-shadow 0.3s, transform 0.3s;
  background: linear-gradient(120deg, #c32606 30%, #f3a81c 80%, #fdf8a3 100%);
  border: none;
  border-radius: 4px;
}

#gameSettings {
  margin-right: 30px;
  width: 220px;
  height: 60px;
  font-family: "Versa Versa";
  /* box-shadow: 3px 4px rgb(0, 0, 0); */
  transition: box-shadow 0.3s, transform 0.3s;
  background: linear-gradient(120deg, #c32606 30%, #f3a81c 80%, #fdf8a3 100%);
  border: none;
  border-radius: 4px;
}

#createTournament {
  margin-right: 30px;
  width: 220px;
  height: 60px;
  font-family: "Versa Versa";
  /* box-shadow: 3px 4px rgb(0, 0, 0); */
  transition: box-shadow 0.3s, transform 0.3s;
  background: linear-gradient(120deg, #c32606 30%, #f3a81c 80%, #fdf8a3 100%);
  border: none;
  border-radius: 4px;
}

.player-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #1f1f29;
  max-width: 100%; /* Aggiungi un limite di larghezza per i nomi lunghi */
  font-family: "Versa Versa";
}

.custom-btn {
  width: 100%;
  aspect-ratio: 1 / 1;
  max-width: 50px;
  max-height: 50px;
  font-size: 20px;
  font-family: "Versa Versa";
  background: linear-gradient(120deg, #c32606 30%, #f3a81c 80%, #fdf8a3 100%);
  border: none;
  border-radius: 4px;
  box-shadow: 3px 4px rgb(0, 0, 0);
  /* transition: transform 0.3s ease-in-out; */
}

.custom-btn:hover {
  transform: scale(1.1); /* Aggiungi un effetto hover */
}

.pressed {
  transform: translateY(4px);
  box-shadow: 0px 0px rgba(0, 0, 0);
}
