@font-face {
	font-family: 'Versa Versa';
	src: url(../fonts/VersaVersa.woff2) format('woff2'),
	url(../fonts/VersaVersa.woff) format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
